[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
pandas = "*"
tabulate = "==0.8.9"
numpy = "*"
pyperclip = "*"
jupyterthemes = "*"
pydantic = "*"
python-dateutil = "*"
humanize = "*"
faker = "*"
faker-airtravel = "*"
jupytext = "*"
matplotlib = "*"
redis = "*"
requests = "*"
pyhumps = "*"
arrow = "*"
wrapt = "*"
pyyaml = "*"
charset-normalizer = "*"
pyjwt = "*"
multidict = "*"
jupyterlab = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.12"
