[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaml = "*"

[dev-packages]
flake8 = "*"
black = "*"
flake8-bugbear = "*"
pep8-naming = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-bandit = "*"
flake8-eradicate = "*"
flake8-print = "*"
flake8-implicit-str-concat = "*"
yamllint = "*"
isort = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
