[flake8]
max-line-length = 80

# McCabe complexity
max-complexity = 11

# B901: return statements in generators - in Python 3 that's allowed.
# E203:
# E226:
# E302:
# E722: duplicate of B001, so can be excluded
# S101
# S311
# I004
# N818
# T002
# T003
extend-ignore=B901,E203,E226,E302,E722,S101,S311,I004,N818,T002,T003
