[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-implicit-str-concat = "*"
pep8-naming = "*"
flake8-builtins = "*"
flake8-bandit = "*"
flake8-eradicate = "*"
flake8-print = "*"

[requires]
python_version = "3.10"
